@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;700;800;900;1000&display=swap");

@import "tailwindcss";

.inputTailwind {
  @apply w-full px-4 py-3 rounded-xl border border-amber-200 bg-white shadow-sm text-gray-700 focus:ring-2 focus:ring-amber-400 focus:border-transparent outline-none transition text-sm sm:text-base;
}


